* {
    font-family:
        "JetBrainsMono Nerd Font", Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    border: none;
    border-radius: 0;
}

window#waybar {
    background-color: rgba(17, 17, 17, 0.85); /* Web-Black */
    border-bottom: 3px solid #ff0000; /* Red accent line */
}

#workspaces button {
    padding: 0 5px;
    color: #ffffff;
}

#workspaces button.active {
    color: #ff0000;
    border-bottom: 3px solid #0055ff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#cpu {
    color: #ff0000;
} /* Red */
#memory {
    color: #0055ff;
} /* Blue */
#disk {
    color: #ff0000;
} /* Red */
#clock {
    color: #0055ff;
} /* Blue */

#cpu,
#memory,
#disk,
#clock,
#tray {
    padding: 0 10px;
    margin: 0 4px;
}

#custom-power {
    color: #ff0000;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 5px;
    margin-right: 10px;
    transition: all 0.3s ease;
}

#custom-power:hover {
    color: #0055ff; /* Turns Green on hover to match your theme */
    text-shadow: 0 0 5px #00ff99;
}
